# =====================
# Python / Django
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django
media/
staticfiles/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
build/

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log